<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMPL MRP - Dispatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        hr.style1{
	        border-top: 15px solid #4d0000;
            }
        .oe{
            font-family: Mathematica6 Bold, Old English Text MT, Engravers Old English BT, Old English, Collins Old English, New Old English, serif;
            font-size: 50px;
            color: #4d0000;
            text-align:center;
            }
        .topnav a:hover {
            color: #4d0000;
            text-decoration: none;
        }
        .nopad {
                margin: 0;
                padding: 0;
                margin-top: 0em;
                margin-bottom: 0em;
            }
        .error {
            color: red;
            display: none;
        }
        .success {
            color: green;
            display: none;
        }
    </style>

</head>
<form action="/dispatch">
    <div class="topnav" id="myTopnav">
        <br>
        <table>
            <td><img src="/static/logo.jpg"  height="70" width="92" align = "left"></td>
            <td width="1050px"><div align="center" class="nopad"> <a href="\main_menu"  class="oe">SMPL</a></div></td>
            <td><div align="left" class="nopad">Hi {{current_user.username}}<br>
            <a href="\change_password_form">Change Password</a><br>
            <a href="\logout">Logout</a></div></td>
        </table>
    </div>

    <hr class ="style1">
    <h2><input type = "text"  name = "customer" value ="{{customer}}" style = "width:750px;border: none;border-color: transparent;" readonly></h2>
    <select name="selected_smpl_no" id="selected_smpl_no" onchange="display_smpl_no()">
                    <option value = "all">All</option>
                    {% for smpl_no in unique_smpl_no_lst %}
                        <option value="{{ smpl_no }}">{{ smpl_no }}</option>
                    {% endfor %}

    </select>
    <table class = "table table-sm" id = 'dispatch_list'>
            <tr>

                <th>SMPL No.</th>
                <th>Packet Name</th>
                <th>Thickness</th>
                <th>Width x Length</th>
                <th>Numbers</th>
                <th style = "width:80px;">Weight (in MT)</th>
                <th>Grade</th>
                <th>Status</th>

                <th>Unit</th>
                <th>Defective</th>

            </tr>
        {% for cs_id, cs in cs_lst %}
            <tr class = 'packet-list' data-smpl_no = "{{cs.smpl_no}}">
                <td><input type = "checkbox" name = "select_smpl" class = "select_smpl" value ="{{cs_id}},{{cs.smpl_no}}"  onchange="enable_dispatch(this, 'dispatch_list')">{{cs.smpl_no}}</td>

                <td><input type = "text" id = "packet_name" name = "packet_name" style = "width:80px;" value ="{{cs.packet_name}}"  readonly></td>

                <td><input type = "text" id = "thickness" style = "width:80px;" value ="{{cs.thickness}}"  readonly></td>
                {% if cs.length2 != 0 %}
                <td><input type = "text" id = "widthxlength" value ="{{cs.width}} x {{cs.length}} - {{cs.length2}}" style = "width:150px;" readonly></td>
                {% else %}
                <td><input type = "text" id = "widthxlength" value ="{{cs.width}} x {{cs.length}}" style = "width:150px;" readonly></td>
                {% endif %}
                <td><input type = "text" id = "numbers" value ="{{cs.numbers}}" style = "width:80px;" readonly></td>
                <td><input type = "text" name = "dispatch_wt" class = "dispatch_wt" value ="{{cs.weight}}" style = "width:80px;" readonly></td>
                <td><input type = "text" name = "grade" value ="{{cs.grade}}" style = "width:200px;" readonly></td>
                <td><input type = "text" value ="{{cs.status}}" style = "width:80px;" readonly></td>
                <td><input type = "text" value ="{{cs.unit}}" style = "width:40px;" readonly></td>

                <td><input type ="text" name = "defective" style = "width:100px;" readonly></td>
            </tr>
        {% endfor %}

        </table>

        <p>Total Dispatch Wt (in MT) <input type = "number" step = "3" id = "total_disp_wt" value = "0.0" readonly> </p>
        <p>Total Packets <input type = "number" step = "0" id = "total_packets" value = "0" readonly> </p>
        <p>Vehicle Number <input type = "text" name = "vehicle_no" required> </p>
        <p>Dispatch Date <input type = "date" name = "dispatch_date" required></p>
        <p>Dispatch Time <input type ="time" name = "dispatch_time" required></p>
        <p>Invoice No <input type ="text" name = "invoice_no"></p>
        <p>Entry By <select name="entry_by" id="entry_by" required>
                    <option value="">Select User</option>
                    <option value="Manjappa">Manjappa</option>
                    <option value="Kartik">Kartik</option>
                    <option value="Sadananda">Sadananda</option>
                    <option value="Govardhan">Govardhan</option>
                    <option value="Jeevan">Jeevan</option>
                    <option value="Chandu">Chandu</option>
                    <option value="Aditya">Aditya</option>
                    <option value="Chandrashekar">Chandrashekar</option>

                </select>
        <p>Enter Pin <input type ="password" maxlength="4" placeholder="Enter PIN" style = "width:200px;"  name = "pinInput" id = "pinInput" required></p>
        <p id="errorMessage" class="error">Invalid PIN!</p>
        <p id="successMessage" class="success">PIN verified successfully!</p>
        <p>Remarks <input type ="text" style = "width:200px;"  name = "remarks"></p>
        <p>Dispatch Staging ID <input type ="text" style = "width:200px;"  name = "staging_dispatch_id" value = '' hidden></p>
        <input class="btn btn-default" id="submit" type="submit" value="Submit" onclick="validatePin(event)">


    <script src = "{{ url_for('static', filename='js/dispatch.js') }}"></script>
    </form>
</html>