<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMPL MRP - Honda Dispatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        hr.style1{
	        border-top: 15px solid #4d0000;
            }
        .oe{
            font-family: Mathematica6 Bold, Old English Text MT, Engravers Old English BT, Old English, Collins Old English, New Old English, serif;
            font-size: 50px;
            color: #4d0000;
            text-align:center;
            }
        .topnav a:hover {
            color: #4d0000;
            text-decoration: none;
        }
        .nopad {
                margin: 0;
                padding: 0;
                margin-top: 0em;
                margin-bottom: 0em;
            }
    </style>

</head>
<body>
<form action="/generate_honda_disp_list">
    <div class="topnav" id="myTopnav">
        <br>
        <table>
            <td><img src="/static/logo.jpg"  height="70" width="92" align = "left"></td>
            <td width="1050px"><div align="center" class="nopad"> <a href="\main_menu"  class="oe">SMPL</a></div></td>
            <td><div align="left" class="nopad">Hi {{current_user.username}}<br>
            <a href="\change_password_form">Change Password</a><br>
            <a href="\logout">Logout</a></div></td>
        </table>
    </div>

    <hr class ="style1">
    <h2><input type = "text"  name = "customer" value ="{{customer}}" style = "width:750px;border: none;border-color: transparent;" readonly></h2>
    <h3>Pick Size</h3>
    <div>
    <select name="selected_size" id="selected_size" onchange="display_honda_pkts()">
                    <option value = "all">All</option>
                    {% for size in unique_sizes %}
                        <option value="{{ size }}">{{ size }}</option>
                    {% endfor %}

    </select>
    </div>
    <table class = "table table-sm" id = 'dispatch_list'>
            <tr>

                <th>SMPL No.</th>

                <th>Thickness</th>
                <th>Width x Length</th>
                <th>Numbers</th>
                <th>Weight (in MT)</th>
                <th>Grade</th>


            </tr>
        {% for cs_id, cs in cs_lst %}

            <tr class = 'packet-list' data-size="{{cs.width}} x {{cs.length}}">
                <td><input type = "checkbox" name = "select_packet" class="select_packet"
                           value ="{{cs_id}},{{cs.smpl_no}},{{cs.packet_name}}"
                        data-csid="{{ cs_id }}" data-smpl_no = "{{cs.smpl_no}}" data-pkt_no ="{{cs.packet_name}}"
                        data-size1 = "{{cs.thickness}} x {{cs.width}} x {{cs.length}}" data-numbers = "{{cs.numbers}}"
                >{{cs.smpl_no}}{{cs.packet_name}}</td>



                <td>{{cs.thickness}}</td>
                {% if cs.length2 != 0 %}
                <td>{{cs.width}} x {{cs.length}} - {{cs.length2}}</td>
                {% else %}
                <td>{{cs.width}} x {{cs.length}}</td>
                {% endif %}
                <td>{{cs.numbers}}</td>
                <td>{{cs.weight}}</td>
                <td>{{cs.grade}}</td>

            </tr>
        {% endfor %}

        </table>

        <input type="button" name="add_packets" id="add_packets" value="Add Packets" onclick="addPackets()">

        <table class = "table table-sm" id = 'dispatch_list_selected'>
            <thead>
            <tr>

                <th>Sl No.</th>
                <th>CS ID</th>
                <th>SMPL No.</th>
                <th>Packet Name</th>
                <th>Size</th>
                <th>Numbers</th>


            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <!--p>Total Dispatch Wt (in MT) <input type = "number" step = "3" id = "total_disp_wt" value = "0.0" readonly> </p>
        <p>Total Packets <input type = "number" step = "0" id = "total_packets" value = "0" readonly> </p-->
        <p>Vehicle Number <input type = "text" name = "vehicle_no" required> </p>
        <p>Dispatch Date <input type = "date" name = "dispatch_date" required></p>
        <!--p>Dispatch Time <input type ="time" name = "dispatch_time" required></p>
        <p>Invoice No <input type ="text" name = "invoice_no"></p>
        <p>Remarks <input type ="text" style = "width:200px;"  name = "remarks"></p-->
        <p>CS IDs List <input type = "text" name = "cs_id_list" id = "cs_id_list"></p>
        <input class="btn btn-default" type="submit" value="Submit" onclick="get_cs_id_list()">


    <script src = "{{ url_for('static', filename='js/dispatch.js') }}"></script>
    </form>
</body>
</html>