<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMPL MRP - Monthly Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        .mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding: 6px;
    }
    input,select {
    font-family: "Verdana";
    }
    hr.style1{
	        border-top: 15px solid #4d0000;
            }
        .oe{
            font-family: Mathematica6 Bold, Old English Text MT, Engravers Old English BT, Old English, Collins Old English, New Old English, serif;
            font-size: 50px;
            color: #4d0000;
            text-align:center;
            }
        .topnav a:hover {
            color: #4d0000;
            text-decoration: none;
        }
        .nopad {
                margin: 0;
                padding: 0;
                margin-top: 0em;
                margin-bottom: 0em;
            }


    </style>
</head>
<body>

    <div class="topnav" id="myTopnav">
        <br>
        <table>
            <td><img src="/static/logo.jpg"  height="70" width="92" align = "left"></td>
            <td width="1050px"><div align="center" class="nopad"> <a href="\main_menu"  class="oe">SMPL</a></div></td>
            <td><div align="left" class="nopad">Hi {{current_user.username}}<br>
            <a href="\change_password_form">Change Password</a><br>
            <a href="\logout">Logout</a></div></td>
        </table>
    </div>

    <hr class ="style1">
    <h2>Monthly report for {{report_month}}/{{report_year}}</h2>

    <h3>Machine Wise Processing</h3>
    <table class="table table-bordered">
        <tr>
            <th></th>
            <th colspan="3" style="text-align: center" id="header_current"></th>
            <th colspan="3" style="text-align: center" id="header_prev"></th>
            <th colspan="3" style="text-align: center" id="header_prev_prev"></th>

        </tr>
        <tr>
            <th>Machine</th>
            <th>Total Weight (in MT)</th>
            <th>Total no. of cuts</th>
            <th>Total Time (in hrs)</th>
            <th>Total Weight (in MT)</th>
            <th>Total no. of cuts</th>
            <th>Total Time (in hrs)</th>
            <th>Total Weight (in MT)</th>
            <th>Total no. of cuts</th>
            <th>Total Time (in hrs)</th>
        </tr>
        {% for machine, wt, cuts, time, prev_wt, prev_cuts, prev_time, prev_prev_wt, prev_prev_cuts, prev_prev_time  in month_lst %}
        <tr>

                <td>{{machine}}</td>
                <td>{{wt}}</td>
                <td>{{cuts}}</td>
                <td>{{(time/60)|round(1,'floor')}}</td>


                <td>{{prev_wt}}</td>
                <td>{{prev_cuts}}</td>
                <td>{{(prev_time/60)|round(1,'floor')}}</td>




                <td>{{prev_prev_wt}}</td>
                <td>{{prev_prev_cuts}}</td>
                <td>{{(prev_prev_time/60)|round(1,'floor')}}</td>

        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>{{month_total_wt}}</td>
            <td></td>
            <td></td>
            <td>{{prev_month_total_wt}}</td>
            <td></td>
            <td></td>
            <td>{{prev_prev_month_total_wt}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>


    <br><br><br>
    <hr>
    <h3>Customer Wise Processing</h3>
    <table class="table table-bordered">

        <tr>
            <th>Customer Group</th>
            <th>Total Weight (in MT)</th>

        </tr>
        {% for customer  in cust_month_lst %}
        <tr>

                <td>{{customer[0]}}</td>
                <td>{{customer[1]}}</td>

        {% endfor %}
        </tr>
    </table>

    <br><br><br>
    <h3>Customer Wise Machine Wise Processing</h3>


     {% if data %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                {% for op in operations %}
                    <th>{{ op }}</th>
                {% endfor %}
                <th class="total-column">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer }}</td>
                    {% set customer_total = namespace(value=0) %}
                    {% for op in operations %}
                        {% set weight = data[customer][op]|float %}
                        {% set customer_total.value = customer_total.value + weight  %}
                        <td {% if weight == 0 %} class="zero-value"{% endif %}>
                            {{ weight|round(3) }}
                        </td>
                    {% endfor %}
                    <td class="total-column">{{ customer_total.value|round(3) }}</td>
                </tr>
            {% endfor %}
            <tr class="total-row">
                <td>Total</td>
                {% for op in operations %}
                    {% set op_total = namespace(value=0) %}
                    {% for customer in customers %}
                        {% set op_total.value = op_total.value + data[customer][op]|float %}
                    {% endfor %}
                    <td>{{ op_total.value|round(3) }}</td>
                {% endfor %}
                {% set grand_total = namespace(value=0) %}
                {% for customer in customers %}
                    {% for op in operations %}
                        {% set grand_total.value = grand_total.value + data[customer][op] %}
                    {% endfor %}
                {% endfor %}
                <td class="total-column">{{ grand_total.value|round(3) }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>No data found for the selected time period.</p>
    {% endif %}


    <hr>
    <br><br><br>
    <h3>Incoming</h3>
    <table class="table table-bordered">
        <tr>
            <th>Unit</th>
            <th>Total Weight (in MT)</th>
        </tr>

        {% set incoming_total = namespace(value=0) %}
         {% for incoming in month_incoming_total %}
        <tr>
            <td>Unit {{incoming[1]}}</td>
            <td>{{incoming[0]}}</td>
            {% set incoming_total.value = incoming_total.value + incoming[0] %}


        </tr>
        {% endfor %}
        <tr>
            <th>Total Incoming</th>
            <th class="total-column">{{ incoming_total.value}}</th>
        </tr>

    </table>

    <br><br><br>
    <h3>Dispatch</h3>
    <table class="table table-bordered">
        <tr>
            <th>Unit</th>
            <th>Total Weight (in MT)</th>
        </tr>
        {% set dispatch_total = namespace(value=0) %}
         {% for dispatch in month_dispatch_total %}
        <tr>
            <td>Unit {{dispatch[0]}}</td>
            <td>{{dispatch[1]}}</td>
             {% set dispatch_total.value = dispatch_total.value + dispatch[1] %}
        </tr>
        {% endfor %}
        <tr>
            <th>Total Dispatch</th>
            <th class="total-column">{{ dispatch_total.value}}</th>
        </tr>

    </table>


    <br><br><br>
    <h3>Dispatch By Customer</h3>
    <table class="table table-bordered">
        <tr>
            <th>Customer</th>
            <th>Total Weight (in MT)</th>
        </tr>
        {% set dispatch_customer_total = namespace(value=0) %}
         {% for dispatch in month_dispatch_total_by_customer %}
        <tr>
            <td>{{dispatch[0]}}</td>
            <td>{{dispatch[1]}}</td>
             {% set dispatch_customer_total.value = dispatch_customer_total.value + dispatch[1] %}
        </tr>
        {% endfor %}
        <tr>
            <th>Total Dispatch</th>
            <th class="total-column">{{ dispatch_customer_total.value}}</th>
        </tr>

    </table>

</div>

<br><br><br>
<h3>Honda Dispatch for the month</h3>
<table class="table table-bordered">
    <tr>
        <th>Date</th>
        {% for sizes in honda_schedule_sizes %}
        <th>{{sizes[0]}}x{{sizes[1]}}</th>
        {% endfor %}
    </tr>

        {% for dispatch_nos in honda_dispatch_by_size %}
        <tr>
            {% for dispatch_row in dispatch_nos %}
                <td>{{dispatch_row}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td>Total Nos</td>
            {% for total in honda_dispatch_total %}
            <td>{{total}}</td>
            {% endfor %}


        </tr>
        <tr>
            <td>Total Packets</td>
            {% for total_pkts in honda_dispatch_total_pkts %}
            <td>{{total_pkts}}</td>
            {% endfor %}


        </tr>



</table>

</body>
<script>
  const monthNames = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];

  const selectedMonth = {{report_month}};
  const selectedYear  = {{report_year}};

  // Build Date objects for current and previous 2 months
  const months = [0, 1, 2].map(offset => {
    const d = new Date(selectedYear, selectedMonth - 1 - offset, 1);
    return `${monthNames[d.getMonth()]} ${d.getFullYear()}`;
  });

  // Set the header text
  document.getElementById('header_current').textContent   = months[0];
  document.getElementById('header_prev').textContent      = months[1];
  document.getElementById('header_prev_prev').textContent = months[2];
</script>

</html>