<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMPL MRP - Dispatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        hr.style1{
	        border-top: 15px solid #4d0000;
            }
        .oe{
            font-family: Mathematica6 Bold, Old English Text MT, Engravers Old English BT, Old English, Collins Old English, New Old English, serif;
            font-size: 50px;
            color: #4d0000;
            text-align:center;
            }
        .topnav a:hover {
            color: #4d0000;
            text-decoration: none;
        }
        .nopad {
                margin: 0;
                padding: 0;
                margin-top: 0em;
                margin-bottom: 0em;
            }
    </style>

</head>
<body>
<form>
    <div class="topnav" id="myTopnav">
        <br>
        <table>
            <td><img src="/static/logo.jpg"  height="70" width="92" align = "left"></td>
            <td width="1050px"><div align="center" class="nopad"> <a href="\main_menu"  class="oe">SMPL</a></div></td>
            <td><div align="left" class="nopad">Hi {{current_user.username}}<br>
            <a href="\change_password_form">Change Password</a><br>
            <a href="\logout">Logout</a></div></td>
        </table>
    </div>

    <hr class ="style1">
    <input type = "button" class="btn btn-default" value="Download" onclick="generateExcelHondaDispatch()">
    <h2><p>DISPATCH LIST - {{staging_dispatch_header.dispatch_date}} VEHICLE NO: {{staging_dispatch_header.vehicle_no}} CUSTOMER: {{staging_dispatch_header.customer}}</p></h2>
    <p><input id="dispatch_date" name="dispatch_date" value = {{staging_dispatch_header.dispatch_date}} hidden></p>
    <p><input id="vehicle_no" name="vehicle_no" value = {{staging_dispatch_header.vehicle_no}} hidden></p>
    <p><input id="customer" name="customer" value = "{{staging_dispatch_header.customer}}" hidden></p>
    <table class = "table table-sm" id = 'dispatch_list'>
            <thead>
            <tr rowspan = 19>DISPATCH LIST - {{staging_dispatch_header.dispatch_date}} VEHICLE NO: {{staging_dispatch_header.vehicle_no}}  CUSTOMER: {{staging_dispatch_header.customer}}</tr>
            <tr>

                <th></th>
                <th>SMPL No.</th>
                <th>Packet Name</th>
                <th>Thickness</th>
                <th>Width</th>
                <th>Length</th>
                <th>Numbers</th>
                <th>Sticker Wt</th>
                <th>Second Customer</th>
                <th>Defectives</th>
                <th></th>






            </tr>
            </thead>
            <tbody>
            {% for cs_id, cs, dispatch_details, defectives in dispatch_detail_arr %}
            <tr>
                <td><input type = "text" name = "select_smpl" class = "select_smpl" value ="{{cs_id}},{{cs.smpl_no}}"  hidden></td>
                <td>{{dispatch_details.smpl_no}}</td>
                <td>{{dispatch_details.packet_name}}</td>
                <td>{{dispatch_details.thickness}}</td>
                <td>{{dispatch_details.width}}</td>
                <td>{{dispatch_details.length}}</td>
                <td>{{dispatch_details.numbers}}</td>
                <td>{{cs.net_wt}}</td>
                <td>{{cs.second_customer}}</td>
                <td>{{defectives}}</td>
                <td><input type ="text" name = "defective" id="defective" value="{{defectives}}" hidden></td>



            </tr>
            {% endfor %}
            </tbody>
    </table>
    <p>Dispatch Time <input type ="time" name = "dispatch_time" required></p>
    <p>Invoice No <input type ="text" name = "invoice_no"></p>
    <p>Remarks <input type ="text" style = "width:200px;"  name = "remarks"></p>
    <p>Entry By <select name="entry_by" id="entry_by" required>
                    <option value="">Select User</option>
                    <option value="Manjappa">Manjappa</option>
                    <option value="Kartik">Kartik</option>
                    <option value="Ravi">Ravi</option>
                    <option value="Govardhan">Govardhan</option>
                    <option value="Jeevan">Jeevan</option>
                    <option value="Chandu">Chandu</option>
                    <option value="Aditya">Aditya</option>

                </select>
        <p>Enter Pin <input type ="password" maxlength="4" placeholder="Enter PIN" style = "width:200px;"  name = "pinInput" id = "pinInput" required></p>
        <p id="errorMessage" class="error" style="display:none">Invalid PIN!</p>
        <p id="successMessage" class="success" style="display:none">PIN verified successfully!</p>
    <p hidden>Dispatch Staging ID <input type ="text" style = "width:200px;"  name = "staging_dispatch_id" value = {{staging_dispatch_id}}></p>
    <input class="btn btn-default" id="dispatch" type="submit" formaction="/dispatch" value="Dispatch">

    <input class="btn btn-default" id="delete" type="submit" formaction="/pdi_delete" value="Delete">

    <table id = 'dispatch_list_submit'>

    {% for cs_id, cs in cs_lst %}
    <tr>
        <td><input type = "text" name = "select_smpl" class = "select_smpl" value ="{{cs_id}},{{cs.smpl_no}}">{{cs.smpl_no}}</td>
        <td><input type ="text" name = "defective" style = "width:80px;" value = ' ' readonly></td>

    </tr>
    {% endfor %}

    </table>
    <script src = "{{ url_for('static', filename='js/dispatch.js') }}"></script>
    <!--script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script-->
    <!--script lang="javascript" src="/node_modules/xlsx/xlsx.full.min.js"></script-->
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
</form>

</body>
</html>