<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print Label</title>
    <style>
        .label{
        width : 9.9cm;
        height : 7.25cm;
        border-style : solid;
        font-family:Tahoma, Verdana, sans-serif;


        }
        .label_details{
        font-family: Tahoma, Verdana, sans-serif;
        font-size : 23px;
        font-weight : 550;
        line-height: 1%;
        padding: 0px;
        }

    </style>

</head>
<body onload="get_param()">
<div class = "label">
    <table>
        <td name="machine" id="machine" text-align="right" width="225">M/C No - 07 Packet - 06</td>

        <td text-align="right" font = "sans-serif"> <div align="right" text-align="right" name="prod_date" id="prod_date">DATE : 10/10/2020</div></td>
    </table>
    <div  width = "9.9cm" style = "vertical-align: top;text-align: center;line-height: 55%;margin-bottom:0;font-weight: 550;" name = "customer" id="customer">NASH INDUSTRIES</div>
    <div class = "label_details" id="label_details" style="vertical-align: top;line-height: 0px;line-height: 0.1;margin : 0; padding-top:0; ">
        <p name="smpl_no" id = "smpl_no">2SMPL6868B (EGI sheets)</p>
        <p name = "size" id="size" >1.00 x 285 x 1180 - 328 no.s</p>
        <p name = "mill_id" id="mill_id">COIL ID: NE2000179102</p>
        <p name ="grade" id="grade">GRADE : SECC</p>
        <p name="comments" id="comments"> </p>

    </div>
</div>
<script src = "{{ url_for('static', filename='js/print_label.js') }}"></script>
</body>
</html>